@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Special Elite", system-ui;
}

body {
  margin: 0;
  background-color:#4d4c4d;
}

